.header {
    height: 10vw;
    width: 100vw;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    &__logo {
        width: 20vw;
        object-fit: contain;
        margin: 1vw 0;
    }
}