@charset "UTF-8";
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Roboto";
}

.main-search {
  width: 80vw;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 1vh;
  background-color: #e6e6e6;
}
@media screen and (max-width: 1080px) {
  .main-search {
    height: 4vh;
    margin-bottom: 1vh;
  }
}
.main-search__text-input {
  width: 93%;
  outline: none;
  border: none;
  background-color: transparent;
  padding-left: 1%;
  box-sizing: border-box;
  font-size: 5vh;
}
@media screen and (max-width: 1080px) {
  .main-search__text-input {
    font-size: 1.7vh;
  }
}
.main-search__search-button {
  width: 7%;
  border: none;
  background-color: transparent;
  font-size: 5vh;
}
@media screen and (max-width: 1080px) {
  .main-search__search-button {
    font-size: 2vh;
  }
}

.search-filters__container {
  width: 80vw;
  height: 10vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: visible;
  z-index: 1;
}
@media screen and (max-width: 1080px) {
  .search-filters__container {
    flex-wrap: wrap;
    width: 80vw;
    height: max-content;
    margin-bottom: 5vh;
    margin-top: 1vh;
  }
}
.search-filters__container__element {
  height: max-content;
  border-radius: 1vh;
  margin-right: 3vw;
}
.search-filters__container__element--ingredients {
  background-color: #3281f5;
}
.search-filters__container__element--utensils {
  background-color: #ed6454;
}
.search-filters__container__element--device {
  background-color: #68d9a4;
}
@media screen and (max-width: 1080px) {
  .search-filters__container__element {
    width: 90vw;
    border-radius: 0;
    margin-right: 0vw;
  }
}
.search-filters__filters-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 80vw;
}
@media screen and (max-width: 1080px) {
  .search-filters__filters-container {
    width: 90vw;
  }
}
.search-filters__filters-container__filter {
  width: 33%;
  box-sizing: border-box;
  padding: 0.5vw 0.5vw;
  color: white;
  font-size: 1.2vw;
}
@media screen and (max-width: 1080px) {
  .search-filters__filters-container__filter {
    font-size: 2vh;
    width: max-content;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.904);
    margin: 0.5vh;
    border-radius: 0.3vh;
    color: black;
    font-weight: bold;
    box-shadow: 2px 2px 4px black;
  }
}
.search-filters__filters-container--visible {
  display: flex;
  width: 40vw;
}
@media screen and (max-width: 1080px) {
  .search-filters__filters-container--visible {
    width: 100%;
  }
}
.search-filters__filters-container--hidden {
  display: none;
}
.search-filters__search-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.search-filters__search-container__text-input {
  width: 90%;
  height: 5vh;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 2vh;
  padding-left: 1vw;
}
.search-filters__search-container__expand-arrow {
  width: 10%;
  height: 5vh;
  background-color: red;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
}
.search-filters__search-container__expand-arrow--visible {
  display: block;
}
.search-filters__search-container__expand-arrow--hidden {
  display: none;
}
.search-filters__search-container__shrink-arrow {
  width: 10%;
  height: 5vh;
  background-color: red;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
}
.search-filters__search-container__shrink-arrow--visible {
  display: block;
}
.search-filters__search-container__shrink-arrow--hidden {
  display: none;
}

.recipes-container {
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  z-index: 0;
}
@media screen and (max-width: 1080px) {
  .recipes-container {
    flex-direction: column;
  }
}
.recipes-container__element {
  width: 25vw;
  height: 30vw;
  margin-bottom: 3vh;
  background-color: #ececec;
  border-radius: 0.5vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: hidden;
  align-content: flex-start;
}
@media screen and (max-width: 1080px) {
  .recipes-container__element {
    width: 80vw;
    height: max-content;
    border-radius: 1vh;
  }
}
.recipes-container__element__image {
  background-color: lightgrey;
  height: 15vw;
  width: 100%;
  content: url("../images/genericfood.jpg");
  object-fit: cover;
}
@media screen and (max-width: 1080px) {
  .recipes-container__element__image {
    height: 30vh;
  }
}
.recipes-container__element__labels-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3vw;
}
@media screen and (max-width: 1080px) {
  .recipes-container__element__labels-container {
    flex-wrap: wrap;
    height: auto;
    background-color: black;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 1vh;
  }
}
.recipes-container__element__labels-container__title {
  width: 80%;
  height: 3vw;
  font-weight: bold;
  margin: 0.5vw 1vw 0 0.5vw;
}
@media screen and (max-width: 1080px) {
  .recipes-container__element__labels-container__title {
    width: 100%;
    font-size: 2.5vh;
    color: white;
    text-align: center;
    height: auto;
  }
}
.recipes-container__element__labels-container__cooking-time {
  width: 10%;
  height: 3vw;
  font-weight: bold;
  margin: 0.5vw 1vw 0 1vw;
}
@media screen and (max-width: 1080px) {
  .recipes-container__element__labels-container__cooking-time {
    width: 100%;
    font-size: 2.5vh;
    color: white;
    height: auto;
    text-align: center;
    color: #68d9a4;
  }
}
.recipes-container__element__labels-container__cooking-time::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  margin-right: 0.5vw;
  font-weight: normal;
}
.recipes-container__element__labels-container__ingredients-container {
  width: 55%;
  font-size: 0.7vw;
  height: 5vh;
}
@media screen and (max-width: 1080px) {
  .recipes-container__element__labels-container__ingredients-container {
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-around;
    margin: 1vh;
  }
}
.recipes-container__element__labels-container__ingredients-container__ingredient-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 2vw;
}
@media screen and (max-width: 1080px) {
  .recipes-container__element__labels-container__ingredients-container__ingredient-container {
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.671);
    padding: 0.2vh;
    height: 3vh;
    padding: 1vh;
    margin: 0.3vw 0.3vw;
    border-radius: 1.5vh;
    box-shadow: 1px 1px 2px black;
  }
}
.recipes-container__element__labels-container__ingredients-container__ingredient-name {
  font-weight: bold;
  margin-right: 0.5vw;
  padding-right: 1vh;
}
@media screen and (max-width: 1080px) {
  .recipes-container__element__labels-container__ingredients-container__ingredient-name {
    font-size: 2vh;
    height: 1vh;
    color: #3281f5;
  }
}
.recipes-container__element__labels-container__ingredients-container__ingredient-name::after {
  /*content: ":";
  font-weight: bold;*/
}
@media screen and (max-width: 1080px) {
  .recipes-container__element__labels-container__ingredients-container__ingredient-quantity {
    font-size: 2vh;
    color: black;
  }
}
.recipes-container__element__labels-container__description {
  width: 35%;
  height: 10vw;
  overflow: hidden;
  margin: 0.5vw 1vw;
}
@media screen and (max-width: 1080px) {
  .recipes-container__element__labels-container__description {
    width: 100%;
    height: auto;
    padding: 1vh;
    text-align: justify;
  }
}

.search-tag-bar {
  width: 80vw;
  display: flex;
  flex-direction: row;
  padding: 1vw 0;
}
.search-tag-bar__tag {
  margin-right: 1vw;
  padding: 1vw;
  border-radius: 0.3vw;
  color: white;
  font-weight: bold;
}
.search-tag-bar__tag--ingredients {
  background-color: #3281f5;
}
.search-tag-bar__tag--utensils {
  background-color: #ed6454;
}
.search-tag-bar__tag--device {
  background-color: #68d9a4;
}
.search-tag-bar__tag::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  margin-left: 1vw;
  font-weight: normal;
}

.no-match-found__container {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-match-found__icon {
  font-size: 10vh;
  color: lightgrey;
  margin-top: 8vh;
}
.no-match-found__message {
  color: lightgrey;
  padding-top: 2vh;
  font-size: 3vh;
}

.header {
  height: 10vw;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header__logo {
  width: 20vw;
  object-fit: contain;
  margin: 1vw 0;
}

/*# sourceMappingURL=style.css.map */
