.main-search {
    width: 80vw;
    height: 8vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1vh;
    background-color: $color-search-bar;
    @include mobile-only {
        height: 4vh;
        margin-bottom: 1vh;
    }

    &__text-input {
        width: 93%;
        outline: none;
        border:none;
        background-color: transparent;
        padding-left: 1%;
        box-sizing: border-box;
        font-size: 5vh;
        @include mobile-only {
            font-size:1.7vh;
        }
    }
    &__search-button {
        width: 7%;
        border: none;
        background-color: transparent;
        font-size: 5vh;
        @include mobile-only {
            font-size:2vh;
        }
    }
}